@inject NavigationManager NavigationManager
@inject NetworkOptimizer.Web.Services.SiteManagementService SiteManagement
@implements IDisposable

<nav class="nav-menu">
    <ul class="nav-list">
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <img src="/icons/chart-v2.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Dashboard</span>
            </NavLink>
        </li>
        @if (_multiSiteEnabled)
        {
            <li class="nav-item" @onclick="HandleNavClick">
                <NavLink class="nav-link" href="/sites">
                    <img src="/icons/sites.png" alt="" class="nav-icon-img" />
                    <span class="nav-text">Sites</span>
                </NavLink>
            </li>
        }
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/monitoring">
                <img src="/icons/port-scan.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Monitoring</span>
            </NavLink>
        </li>
        <li class="nav-item nav-sub-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/network-tools">
                <span class="nav-sub-icon">└</span>
                <span class="nav-text">Network Tools</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/config-optimizer">
                <img src="/icons/tools.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Config Optimizer</span>
            </NavLink>
        </li>
        <li class="nav-item nav-sub-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/perf-tweaks">
                <span class="nav-sub-icon">└</span>
                <span class="nav-text">Performance Tweaks</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/wifi-optimizer">
                <img src="/icons/wifi-optimizer.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Wi-Fi Optimizer</span>
            </NavLink>
        </li>
        <li class="nav-item nav-sub-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/client-dashboard">
                <span class="nav-sub-icon">└</span>
                <span class="nav-text">Client Performance</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/audit">
                <img src="/icons/shield-v2.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Security Audit</span>
            </NavLink>
        </li>
        <li class="nav-item nav-sub-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/upnp-inspector">
                <span class="nav-sub-icon">└</span>
                <span class="nav-text">UPnP Inspector</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/threats">
                <img src="/icons/threats.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Threat Intelligence</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/sqm">
                <img src="/icons/sqm-v3.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Adaptive SQM</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/wan-steering">
                <img src="/icons/wan-steering.png" alt="" class="nav-icon-img" />
                <span class="nav-text">WAN Steering</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/wan-speedtest">
                <img src="/icons/speed-wan.png" alt="" class="nav-icon-img" />
                <span class="nav-text">WAN Speed Test</span>
            </NavLink>
        </li>
        <li class="nav-item nav-sub-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/client-wan-speedtest">
                <span class="nav-sub-icon">└</span>
                <span class="nav-text">Client WAN Test</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/speedtest">
                <img src="/icons/speed-v4.png" alt="" class="nav-icon-img" />
                <span class="nav-text">LAN Speed Test</span>
            </NavLink>
        </li>
        <li class="nav-item nav-sub-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/client-speedtest">
                <span class="nav-sub-icon">└</span>
                <span class="nav-text">Client Speed Test</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/alerts">
                <img src="/icons/alerts.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Alerts & Schedule</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/settings">
                <img src="/icons/settings-v2.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Settings</span>
            </NavLink>
        </li>
    </ul>

    @* License status - hidden for now
    <div class="nav-footer">
        <div class="license-status">
            <img src="/icons/verified-v2.png" alt="" class="nav-icon-img" />
            <span class="license-text">Licensed</span>
        </div>
    </div>
    *@
</nav>

@code {
    [Parameter]
    public Action? OnNavigate { get; set; }

    private bool _multiSiteEnabled;

    protected override async Task OnInitializedAsync()
    {
        _multiSiteEnabled = await SiteManagement.IsMultiSiteEnabledAsync();
    }

    private void HandleNavClick()
    {
        OnNavigate?.Invoke();
    }

    public void Dispose()
    {
        // No cleanup needed
    }
}
